<header class="header">
  <div class="container header__container">
      <a href="/" class="header__logo">
          <div class="logo-icon"></div>
          <span class="logo-text">Core-Map</span>
      </a>

      <nav class="header__nav">
          <ul class="header__menu">
              <li class="header__item"><a href="#" class="header__link">Главная</a></li>
              <li class="header__item"><a href="#tech" class="header__link">Технологии</a></li>
              <li class="header__item"><a href="#features" class="header__link">Возможности</a></li>
              <li class="header__item"><a href="#innovations" class="header__link">Инновации</a></li>
              <li class="header__item"><a href="#blog" class="header__link">Блог</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="#contact" class="btn btn--primary">Начать</a>
          <button class="burger" id="burger-menu">
              <span></span>
          </button>
      </div>
  </div>
</header>