<header class="header">
  <div class="container header__container">
      <a href="./#home" class="header__logo">
          <div class="logo-icon"></div>
          <span class="logo-text">Core-Map</span>
      </a>

      <nav class="header__nav">
          <ul class="header__menu">
              <li class="header__item"><a href="./#home" class="header__link">Главная</a></li>
              <li class="header__item"><a href="./#tech" class="header__link">Технологии</a></li>
              <li class="header__item"><a href="./#features" class="header__link">Возможности</a></li>
              <li class="header__item"><a href="./#innovations" class="header__link">Инновации</a></li>
              <li class="header__item"><a href="./#blog" class="header__link">Блог</a></li>
          </ul>
      </nav>

      <div class="header__actions">
          <a href="./#contact" class="btn btn--primary">Начать</a>
          <button class="burger" id="burger-menu">
              <span></span>
          </button>
      </div>
  </div>
</header>
<div class="mobile-menu" id="mobile-menu-overlay">
  <div class="mobile-menu__content">
      <ul class="mobile-menu__list">
          <li><a href="./#home" class="mobile-menu__link">Главная</a></li>
          <li><a href="./#tech" class="mobile-menu__link">Технологии</a></li>
          <li><a href="./#features" class="mobile-menu__link">Возможности</a></li>
          <li><a href="./#innovations" class="mobile-menu__link">Инновации</a></li>
          <li><a href="./#blog" class="mobile-menu__link">Блог</a></li>
          <li><a href="./#contact" class="mobile-menu__link">Контакт</a></li>
      </ul>
      <div class="mobile-menu__footer">
          <a href="tel:+4915510894003" class="btn btn--outline">+49 (155) 1089-4003</a>
      </div>
  </div>
</div>